/* Esse css referencia a fonte das tags: body, input, select, textarea*/

	body, input, select, textarea {
		font-size: 12pt;
		background-size: 40pt;
	}

/* Banner */

	#banner {
		padding: 9em 0;
	}